<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AWSV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AWSDB" connectionString="Data Source=.\Data\AWS.db;Version=3;Password=zxhq029;" providerName="System.Data.SqlClient" />
    <add name="LogDB" connectionString="Data Source=.\Data\Log.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="AWSMYSQL" connectionString="Data Source=127.0.0.1;initial catalog=aws;userid=root;password=zxhq029" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.112.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <connectionString value="Data source=.\Data\Log.db;Synchronous=Off " />
      <commandText value="INSERT INTO Log (Date, Message) VALUES (@Date, @Message)" />
      <parameter>
        <parameterName value="@Date" />
        <dbType value="String" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Logs/AWS/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="RegCode" value="" />
    <add key="AutoStart" value="False" />
    <add key="StorePwd" value="False" />
    <add key="AutoLogin" value="False" />
    <!-- 过磅单 -->
    <add key="WeighFormDisplayMode" value="Priview" />
    <add key="ListSort" value="_bh,_kh,_ch,_wz,_mz,_pz,_jz,_mzsby,_pzsby,_mzrq,_pzrq,_kz,_kl,_sz,_bz,_dyrq" />
    <add key="_bh" value="编号" />
    <add key="_kh" value="客户" />
    <add key="_kh2" value="客户2" />
    <add key="_kh3" value="客户3" />
    <add key="_ch" value="车号" />
    <add key="_wz" value="物资" />
    <add key="_mz" value="毛重" />
    <add key="_pz" value="皮重" />
    <add key="_jz" value="净重" />
    <add key="_mzsby" value="毛重司磅员" />
    <add key="_pzsby" value="皮重司磅员" />
    <add key="_mzrq" value="毛重日期" />
    <add key="_pzrq" value="皮重日期" />
    <add key="_jzrq" value="净重日期" />
    <add key="_kz" value="扣重" />
    <add key="_kl" value="扣率" />
    <add key="_sz" value="实重" />
    <add key="_bz" value="备注" />
    <add key="_by1" value="备用字段1" />
    <add key="_by2" value="备用字段2" />
    <add key="_by3" value="备用字段3" />
    <add key="_by4" value="备用字段4" />
    <add key="_by5" value="备用字段5" />
    <add key="_dyrq" value="打印日期" />
    <!-- 备用字段公式 -->
    <add key="By1Formula" value="" />
    <add key="By2Formula" value="" />
    <add key="By3Formula" value="" />
    <add key="By4Formula" value="" />
    <add key="By5Formula" value="" />
    <!-- 称重设置 -->
    <add key="WeighProtocolType" value="耀华" />
    <add key="WeighSerialPortName" value="COM1" />
    <add key="WeighSerialPortBaudRate" value="2400" />
    <add key="EnableSecondDevice" value="False" />
    <add key="Weigh2ProtocolType" value="耀华" />
    <add key="Weigh2SerialPortName" value="COM2" />
    <add key="Weigh2SerialPortBaudRate" value="2400" />
    <add key="WeighingUnit" value="kg" />
    <add key="WeighingMode" value="Twice" />
    <add key="WeighingControl" value="Hand" />
    <add key="StableDelay" value="3" />
    <add key="MinSlotWeight" value="0" />
    <add key="Discount" value="0" />
    <add key="DiscountWeight" value="0" />
    <add key="DiscountRate" value="0" />
    <add key="SyncDataEnable" value="False" />
    <!-- 打印设置 -->
    <add key="WithPrinting" value="False" />
    <add key="Printer" value="" />
    <add key="PrintingMode" value="Immediate" />
    <add key="PageSizeWidth" value="210" />
    <add key="PageSizeHeight" value="140" />
    <add key="PrintTemplate" value="2" />
    <!-- 外接设备 -->
    <add key="LPR" value="0" />
    <add key="LPRWhiteList" value="0" />
    <add key="Barrier" value="0" />
    <add key="CheckGrating" value="0" />
    <add key="MonitorEnable" value="False" />
    <add key="TableRFEnable" value="False" />
    <add key="TableRFPortName" value="COM3" />
    <add key="QREnable" value="False" />
    <add key="QRPortName" value="COM4" />
    <add key="LEDEnable" value="False" />
    <add key="LEDPortName" value="COM5" />
    <add key="LED2Enable" value="False" />
    <add key="SpeechSpeed" value="0" />
    <add key="TTS0Enable" value="False" />
    <add key="TTS1Enable" value="False" />
    <add key="TTS2Enable" value="False" />
    <add key="TTS3Enable" value="False" />
    <add key="TTS0Text" value="%ch%请上秤" />
    <add key="TTS3Text" value="请刷卡取票" />
    <add key="TTS1Text" value="称重完成，重量%mz%kg，请下秤" />
    <add key="TTS2Text" value="称重完成，毛重%mz%kg，皮重%pz%kg，净重%jz%kg，请下秤" />
    <add key="OverloadWarning" value="0" />
    <add key="OverloadWarningWeight" value="0" />
    <add key="OverloadWarningText" value="毛重%mz%kg，已超载" />
    <!-- 数据备份 -->
    <add key="DBSelect" value="sqlite" />
    <add key="CurrentDBPath" value=".\Data\AWS.db" />
    <add key="BackupPath" value="C:\" />
    <add key="CurrentAutoBackupFrequency" value="无" />
    <add key="LastBackupDate" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <AWSV2.Properties.Settings>
      <setting name="LastLoginId" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="LastUserPwd" serializeAs="String">
        <value>admin</value>
      </setting>
    </AWSV2.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>