<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<file value="Logs/Monitor/"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd'.txt'"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - [%p] - %message %newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
	<appSettings>
  <add key="Monitor1Enable" value="1" />
  <add key="Monitor2Enable" value="1" />
  <add key="Monitor3Enable" value="1" />
  <add key="Monitor4Enable" value="1" />
  <add key="Monitor1IP" value="14.10.25.12" />
  <add key="Monitor1Username" value="admin" />
  <add key="Monitor1Password" value="Aa123456" />
  <add key="Monitor2IP" value="14.10.25.13" />
  <add key="Monitor2Username" value="admin" />
  <add key="Monitor2Password" value="Abc123456" />
  <add key="Monitor3IP" value="14.10.25.77" />
  <add key="Monitor3Username" value="admin" />
  <add key="Monitor3Password" value="Abc123456" />
  <add key="Monitor4IP" value="14.10.25.12" />
  <add key="Monitor4Username" value="admin" />
  <add key="Monitor4Password" value="Aa123456" />
  <add key="MonitorSavePath" value="C:\开发目录\personalized\个性化版本\江西省超载平台接口版本\shark_weight_c_sharp\AWSV2\bin\Debug\Snap\video" />
 </appSettings>
</configuration>
