<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ys1" value="京A"/>
    <add key="ys2" value="沪B"/>
    <add key="ys3" value="浙C"/>
  </appSettings>
</configuration>
