<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="AWSDB" connectionString="Data Source=.\Data\AWS.db;initial catalog=main;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="AWSMYSQL" connectionString="Data Source=39.108.102.49;port=3307;initial catalog=aws;userid=root;password=Abc12345"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.112.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
      <connectionString value="Data source=.\Data\Log.db;Synchronous=Off "/>
      <commandText value="INSERT INTO Log (Date, Message) VALUES (@Date, @Message)"/>
      <parameter>
        <parameterName value="@Date"/>
        <dbType value="String"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@Message"/>
        <dbType value="String"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="FlitAbnormalData" value="True"/>
    <add key="MinAbnormalData" value="0"/>
    <add key="MaxAbnormalData" value="100000"/>
  </appSettings>
</configuration>
